<%= provide(:about_active, 'active') %>
<div class="container about">
    <div class="card text-center">
        <div class="card-header text-muted">
            About Rorblog
        </div>
        <div class="card-body">
            <h5 class="card-title">Ruby On Rails Blog</h5>
            <p class="card-text">Complete blog made with ❤️ by using rails 5, bootstrap 4 and some of cool ruby gems!</p>
        </div>
        <div class="card-footer text-muted">
            special thank to @stephenfiser
        </div>
    </div>
</div>