<%= provide(:contact_active, 'active') %>

<div class="container about">
    <div class="card text-center">

        <div class="card-body">
            <h5 class="card-title">Contact</h5>
            <p class="card-text">Find me on twitter <a href="https://twitter.com/muhammedMoussa" target="blank">@Moussa</a></p>
        </div>

    </div>
</div>